

.navbar .nav-link {
  color: #fff !important;
}
.single-form {
  min-width: 250px !important;

}
#person-count{
  min-width: 500px !important;

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .single-form {
    min-width: 160px !important;
  
  }
  #person-count{
    min-width: 325px !important;

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .single-form {
    min-width: 210px !important;
  
   } 
  #person-count{
    min-width: 425px !important;

  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .single-form {
    min-width: 210px !important;
  
  }
  #person-count{
    min-width: 425px !important;

  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .single-form {
    min-width: 160px !important;
  
  }
  #person-count{
    min-width: 150px !important;

  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .single-form {
    min-width: 160px !important;
  
  }
  #person-count{
    min-width: 400px !important;

  }
}

